{% extends 'sales/base-sales.html' %}
{% load static %}

{% block title %}
  Список контактів
{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100">
  <div class="p-4 flex-shrink-0">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="fw-bold text-dark mb-0 me-3">Список контактів</h1>
      <div class="input-group shadow-sm me-3 flex-grow-1" style="max-width: 400px;">
        <span class="input-group-text bg-white border-end-0">
          <i class="bi bi-search text-muted"></i>
        </span>
        <input type="text" id="contact-search" class="form-control border-start-0" placeholder="Пошук за ім'ям, прізвищем, телефоном чи компанією">
      </div>
      <div class="form-check ms-3">
          <input class="form-check-input" type="checkbox" id="unprocessed-filter"
                 name="unprocessed" {% if request.GET.unprocessed == 'on' %}checked{% endif %}>
          <label class="form-check-label" for="unprocessed-filter">Необроблені контакти</label>
        </div>
      <a href="#" class="btn btn-primary shadow-sm" id="add-contact-btn" data-contact-id="0">
        <i class="bi bi-person-plus-fill me-1"></i> Додати контакт
      </a>
    </div>
  </div>
  <div id="contacts-container" class="flex-grow-1 overflow-auto px-4 pb-4">
    {% include 'sales/partials/contacts_list_partial.html' %}
  </div>
</div>

{% include 'sales/partials/edit_contact_modal.html' %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'main/css/contacts.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  <script src="{% static 'sales/js/contacts-main.js' %}"></script>
  <script src="{% static 'sales/js/contacts-search.js' %}"></script>
  <script src="{% static 'sales/js/edit.js' %}"></script>
    <script>
    document.getElementById('unprocessed-filter').addEventListener('change', function() {
      const url = new URL(window.location);
      if (this.checked) {
        url.searchParams.set('unprocessed', 'on');
      } else {
        url.searchParams.delete('unprocessed');
      }
      url.searchParams.set('page', '1'); // Скидаємо на першу сторінку при зміні фільтра
      window.location = url;
    });
  </script>
{% endblock %}